@import "webfont";

$base-p: #606EC3;
$dark-grey: #747474;
$light-grey: #C7C7C7;
$light-p: #CFD1E2;

@mixin desc-content {
  width: 60%;
  min-width: 480px;
  max-width: 760px;
  margin: 0 auto;

  @media (max-width: 400px) {
    max-width: 320px;
    min-width: 320px;
  }
}

body {
  @include font-major;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  background: #fff;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
}

.spliter {
  background-image: url('../img/spliter.svg');
  background-size: 38px 23px;
  background-repeat: no-repeat;

  width: 38px;
  height: 23px;

  margin: 0 auto;
  padding-bottom: 36px;
}

.logo {
  background: url('../img/logo.svg');
  background-size: 98px 34px;
  background-repeat: no-repeat;
  width: 98px;
  height: 34px;
  background-position: -35px;
}

.btn {
  @include font-mono;

  background: #fff;
  border: 1px solid $base-p;
  color: $base-p;
  text-align: center;
  transition: all .1s ease-in;
  position: relative;
  border-radius: 2px;
  text-decoration: none;
  display: block;

  &:hover {
    border-radius: 0;
    background: rgba(255, 255, 255, .2);
    line-height: 56px;
  }
}

.btn-large {
  font-size: 24px;

  width: 264px;
  height: 68px;
  line-height: 68px;

  &:hover {
    border: 6px solid $base-p;
  }

  @media (max-width: 400px) {
    font-size: 18px;
    width: 198px;
    height: 48px;
    line-height: 48px;

    &:hover {
      line-height: 36px;
    }
  }
}

.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 100;

  background: rgba(255, 255, 255, 1);

  .logo {
  }

  nav.header {
    position: absolute;
    right: 150px;
    top: 0;
    width: 90%;
    text-align: right;
    .dropdown {
      display: inline-block;
      height: 60px;
      line-height: 30px;
      position: relative;
      color: #666666;
      cursor: pointer;
      > span {
        padding: 15px 20px;
        line-height: 30px;
        display: inline-block;
      }
      ul {
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        overflow: hidden;
        li {
          line-height: 30px;
          background: #ffffff;
          padding: 15px 20px;
          border-bottom: 1px solid #eeeeee;
          a {
            color: #666666;
            text-decoration: none;
          }
          &:hover {
            //              background: #efefef;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      &:hover {
        ul {
          height: auto;
        }
      }
    }
    > a {
      display: inline-block;
      line-height: 30px;
      color: #666666;
      text-decoration: none;
      height: 60px;
      padding: 15px 20px;
      &:hover {
        color: #333333;
      }
    }
  }
  .btn-header {
    position: absolute;
    top: 13px;
    right: 50px;
    width: 80px;
    height: 34px;
    line-height: 31px;
    //        background: url("../img/github.png") no-repeat left center;
    background-size: 20px;
    vertical-align: baseline;
    img {
      display: inline-block;
      width: 22px;
    }
    &:hover {
      border: 3px solid $base-p;
      line-height: 27px;
    }
  }
}

.head {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  padding-top: 15vh;

  text-align: center;

  background-color: rgba(167, 169, 191, .2);
  background: linear-gradient(-180deg, rgba(255, 255, 255, .6) 0%, rgba(167, 169, 191, .2) 100%), url('../img/grey.png');
  background-blend-mode: screen;
  animation: bg-move 30s linear infinite;

  h1 {
    font-weight: 100;
    font-size: 48px;

    b {
      font-weight: 400;
      color: $base-p;
    }

    @media (max-width: 400px) {
      font-size: 36px;
    }
  }

  h4 {
    @include font-mono;

    color: $light-grey;

    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  .btn-large {
    margin: 10vh auto 0 auto;
  }
  .terminal-player {
    width: 100vh;
    max-width: 700px;
    background: #000;
    height: 35vh;
    overflow: auto;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
    pre {
      white-space: pre-wrap;
      color: #dedede;
      font-size: 16px;
      margin: 0;
    }
    .line {
      display: block;
    }
    .result {
      display: block;
      color: #cdcdcd;
    }
    .prefix {
      margin-right: 10px;
      color: #D8C92D;
    }
    .command {
      color: #3CF220;
    }
    .cursor {
      opacity: 1;
      font-weight: 100;
      -webkit-animation: blink 1s infinite;
      -moz-animation: blink 1s infinite;
      -ms-animation: blink 1s infinite;
      -o-animation: blink 1s infinite;
      animation: blink 1s infinite;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-move {
  to {
    background-position: 0 100%
  }
}

.install {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  pre {
    margin-top: 10vh;
    color: #666666;
    padding: 5vh 0;
  }
  .tips {
    font-size: 14px;
    color: #888888;
    margin-top: 2em;
  }
  .install-button {
    border: 0;
    font-size: 24px;
    padding: 10px 20px;
    height: 52px;
  }
  .install-input {
    height: 52px;
    padding: 10px 20px;
    font-size: 24px;
    width: 50%;
    text-align: center;
  }
}

.desc {
  width: 100%;
  max-width: 1440px;
  text-align: center;
  position: relative;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
  &:nth-child(2n) {
    background: #F3F6F8;
  }

  h3 {
    // @include font-mono;

    font-size: 32px;
    color: $base-p;
    font-weight: 100;

    b {
      font-weight: 100;
      color: $light-grey;
    }
  }

  p, code, .desc-img {
    @include desc-content;
  }

  p {
    font-size: 18px;
    font-weight: 100;
    color: $dark-grey;
    text-align: left;
    margin-top: 5px;

    &:first-child {
      padding-top: 60px;
    }
  }

  code {
    @include font-mono;

    display: inline-block;

    text-align: left;
    background: black;
    line-height: 22px;
    color: #3CF220;
    font-size: 16px;

    padding: 16px 24px;

    b {
      color: $light-grey;
    }

  }
  .desc-quarter {
    width: 50%;
    float: left;
  }

}

.desc-img {
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 60px auto !important;
}

.desc-img.pod {
  background-image: url("../img/feature-pod.png");

  width: 373px;
  height: 370px;
}

.desc-img.isolation {
  background-image: url("../img/feature-isolation.png");

  width: 573px;
  height: 180px;
}

.get {
  height: 400px;
  background: #333752;
  padding: 180px 0;

  @media (max-width: 400px) {
    padding: 80px;
    height: 200px;
  }

  .btn-large {
    margin: 0 auto;
    background: transparent;
    border: 1px solid $light-p;
    color: $light-p;

    &:hover {
      border: 6px solid $light-p;
    }
  }
}

footer {
  background: #000;
  text-align: center;
  color: $light-p;
  font-size: 14px;
  font-weight: 100;
  padding: 50px;
  .column {
    width: 20%;
    padding: 10px;
    float: left;
    text-align: left;
    h2 {
      font-size: 18px;
    }
    h2:first-child {
      margin-top: 0;
    }
    a {
      color: #dddddd;
      text-decoration: none;
      font-weight: 300;
      font-size: 15px;
      &:hover {
        color: $light-p;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      p {
        margin: 5px 0 5px 0;
      }
      ul {
        margin-left: 20px;
        list-style: disc;
        margin-bottom: 5px;
      }
    }
  }
  .subscribe {
    input {
      padding: 5px 10px;
      border: 0;
      height: 32px;
      display: inline-block;
      font-family: sans-serif;
      width: 65%;
      line-height: 16px;
      color: $base-p;
    }
    button.button {
      display: inline-block;
      height: 32px;
      margin-left: -3px;
      width: 45px;
      background: $base-p url("../img/submit.png") no-repeat center;
      border: 0;
      text-indent: 999999999999px;
    }
  }
  .copyright {
    margin-top: 30px;
    color: #fff;

  }
}
